<?xml version="1.0"?>
<!--
/**
 * Copyright © Hanesbrands, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <born_vertex>
            <general>
                <enabled>1</enabled>
                <default_percentage>15.000</default_percentage>
            </general>
            <dev>
                <test_fail_enabled>0</test_fail_enabled>
            </dev>
        </born_vertex>
        <born_modules>
            <recalculation>
                <enabled>1</enabled>
                <invoice_enabled>1</invoice_enabled>
            </recalculation>
        </born_modules>
    </default>
</config>
